body {
  background-color: #A9A9A9;
}

div {
  color: black;
  background-color: #D3D3D3;
  padding: 5px;
  margin-bottom: 30px;
  font-size: 1.3vw;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  color: black;
  text-align: center;
  border: 3px solid black;
  font-size: 5vw;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: #D3D3D3;
  border: 2px white;
  font-size: 2vw;
}

li {
  float: center;
  border-right: 1.5px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: red;
}

footer {
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1vw;
}

.footer {
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
  margin-top: 900px;
}

.image1 {
  background-size:75% 75%;
  border: 2px solid black;

}

.button {
  background-color: #ff6347;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: right;
  font-size: 16px;
  cursor: pointer;
  margin-left: 100px;

}

.button:hover {
  background-color: red;

  .fo
